<ion-header>
  <ion-toolbar>
    <ion-title>catch</ion-title>
    <ion-button slot="start">
      <ion-back-button></ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!caught && !toLate">
    <ion-label>Je hebt {{catchTime}} seconden om de pokemon te vangen!</ion-label>
    <br>
    <ion-label>{{timerVal}}</ion-label>
  </div>
  <div *ngIf="toLate">Helaas je bent telaat ;(</div>
  <div *ngIf="caught">
    <ion-label>Gefeliciteerd je hebt {{pokemon.name}} gevangen!</ion-label>
  </div>

  <div  *ngIf="caught == false && toLate == false" >
    <ion-button style="align-self: center" (click)="catch()">vang {{pokemon.name}}!</ion-button>
  </div>
</ion-content>
